# Data wrangling and analysis

>Ainur Artay <br>Data Analytics NanoDegree <br>January 2020

### **Introduction**

The primary objective of this work is to analyze WeRateDogs tweets data. <br>This is achieved by gathering the data from different sources, assessing, cleaning and visualizing the data.

### Prepare the work station

In [1]:
# Load the necessary modules, including Tweepy, an API from Twitter

import pandas as pd
import numpy as np
import requests
import os
import tweepy
import json
import time
import datetime
import random

import matplotlib.pyplot as plt
from matplotlib import cm
%matplotlib inline

import seaborn as sns
sns.set(style="darkgrid")

# Set the option to display the full string
pd.options.display.max_rows
pd.set_option('display.max_colwidth', -1)

### Gather the data

##### 1. The first source is twitter_archive_enhanced.csv, WeRateDogs tweets archive for the period of 2015-2017. This was provided by Udacity, and downloaded manually

In [2]:
df_twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
df_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [3]:
# Explore the content of twitter_archive_enhanced.csv
df_twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

In [4]:
# Explore a single data point
sample_tweet = df_twitter_archive.iloc[2]
sample_tweet

tweet_id                      891815181378084864
in_reply_to_status_id         NaN
in_reply_to_user_id           NaN
timestamp                     2017-07-31 00:18:03 +0000
source                        <a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
text                          This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB
retweeted_status_id           NaN
retweeted_status_user_id      NaN
retweeted_status_timestamp    NaN
expanded_urls                 https://twitter.com/dog_rates/status/891815181378084864/photo/1
rating_numerator              12
rating_denominator            10
name                          Archie
doggo                         None
floofer                       None
pupper                        None
puppo                         None
Name: 2, dtype: object

In [5]:
sample_tweet.text

'This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB'

##### 2. Upload the **image predictions** data using the link

In [6]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
response

In [7]:
#  HTTP status code 200 means the command was successful 
file_images = url.split('/')[-1]

with open(os.path.join('./', file_images), mode = 'wb') as file:
    file.write(response.content)

In [8]:
ls *.tsv

image-predictions.tsv*

In [ ]:
# Read the file 
df_predictions = pd.read_csv(file_images, sep = '\\t', engine = 'python')
df_predictions.info()

In [10]:
df_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [11]:
# Observe a single data point, i.e. a tweet 
df_predictions.iloc[2]

tweet_id    666033412701032449
jpg_url     https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg
img_num     1
p1          German_shepherd
p1_conf     0.596461
p1_dog      True
p2          malinois
p2_conf     0.138584
p2_dog      True
p3          bloodhound
p3_conf     0.116197
p3_dog      True
Name: 2, dtype: object

##### 3. Upload the Tweet JSON data

In [12]:
# Insert Twitter API keys, Secrets, and Tokens obtained from the Twitter 
# developer page  
CONSUMER_KEY = 'CeumBhXSXQHzY1VhNDwjNoVwE'
CONSUMER_SECRET = 'MOmTRKFmtZukk0y6MLrKjTVAoVYEJ2eplx5bLQ1JRzpzlma1s3'
OAUTH_TOKEN = '1172150543151747075-EMYadR2Cx1YjuxqPoGdPhQqkRPBRkS'
OAUTH_TOKEN_SECRET = '94hKwiRZ5FwY7rGYrD1Ip9UebBBzXsxrXCO5SKxAXGC0p'

In [13]:
# Create the Twitter API object and set rate limit parameters
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

api = tweepy.API(auth_handler = auth, 
                 wait_on_rate_limit = True, 
                 wait_on_rate_limit_notify = True)

In [16]:
# Download the tweets
# Get a list of tweet_ids from the Twitter archive and download them with
# the Twitter API
tweet_ids = df_twitter_archive.tweet_id.values
print("# of tweet_ids: " + str(len(tweet_ids)) + "\n")

count = 0
tweet_json_list = []
fails_dict = {}

start_time = time.time()

for tweet_id in tweet_ids:
    count += 1
    try:
        # attempt to get the tweet's JSON data and append to the tweet JSON list
        tweet = api.get_status(tweet_id, tweet_mode = 'extended')
        tweet_json_list.append(tweet._json)
    except tweepy.TweepError as err:
        # save the error to the fail dictionary for review
        print("TweepError for id:  " + str(tweet_id))
        fails_dict[tweet_id] = err
        pass
    # To save space, only print out loop/tweet id for every 100th tweet
    if count % 100 == 0:
        print("loop # " + str(count))

elapsed_time = time.time() - start_time

elapsed_time_str = time.strftime("%H:%M:%S", time.gmtime(elapsed_time))
print("\nTime elapsed (HH:MM:SS):  " + elapsed_time_str + "\n")

# display list of tweets with errors
print("Number of TweepErrors:  {}\n".format(len(fails_dict)))
for tweet_id in fails_dict:
    print(tweet_id, fails_dict[tweet_id])

# of tweet_ids: 2356

TweepError for id:  888202515573088257

KeyboardInterrupt:

In [17]:
# Save the JSON data to a file
tweet_json_file = 'tweet_json.txt'

In [18]:
# Save the JSON data in the list to the output file
with open(tweet_json_file, 'w') as outfile:
    for tweet_json in tweet_json_list:
        json.dump(tweet_json, outfile)
        outfile.write('\n')

In [19]:
ls tweet_json.txt

tweet_json.txt*

In [20]:
# Read the JSON data and extract the required fields from each tweet's
# JSON data and store in a separate file called tweet_data_extra.csv.
# This will be used at the assessment stage

tweet_json_data = []
with open(tweet_json_file, 'r') as json_file:
    
    # read the first line to start the loop
    line = json_file.readline()
    while line:
        data = json.loads(line)

        # extract variables from the JSON data
        data_id = data['id']
        data_retweet_count = data['retweet_count']
        data_favorite_count = data['favorite_count']
        
        # create a dictionary with the JSON data, then add to a list
        json_data = {'tweet_id': data_id, 
                     'retweet_count': data_retweet_count, 
                     'favorite_count': data_favorite_count
                    }
        tweet_json_data.append(json_data)

        # read the next line of JSON data
        line = json_file.readline()

# convert the tweet JSON data dictionary list to a DataFrame
df_tweet_data_extra = pd.DataFrame(tweet_json_data, 
                                   columns = ['tweet_id',
                                              'retweet_count',
                                              'favorite_count'])
df_tweet_data_extra.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193  7835           36747
1  892177421306343426  5800           31643
2  891815181378084864  3842           23836
3  891689557279858688  8003           40082
4  891327558926688256  8641           38282

In [21]:
df_tweet_data_extra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 3 columns):
tweet_id          57 non-null int64
retweet_count     57 non-null int64
favorite_count    57 non-null int64
dtypes: int64(3)
memory usage: 1.4 KB

In [22]:
df_tweet_data_extra.to_csv('tweet_data_extra.csv', index = False)

### Assess the data

The gathered data is assessed, both visually and programmatically, for its quality and tidiness. <br>A key point of  analysis is retaining the original rating tweets with images, removing retweets and replies. <br>**Data quality criteria:** <br>(1) completeness; <br>(2) validity; <br>(3) accuracy; <br>(4) consistency. <br>**Data tidiness criteria:** <br>(1) each variable forms a column; <br>(2) each observation forms a row.

In [23]:
# Load the gathered data files
archive = pd.read_csv('twitter-archive-enhanced.csv')
predictions = pd.read_csv('image-predictions.tsv', sep = '\\t', engine = 'python')
json_data = pd.read_csv('tweet_data_extra.csv')

In [24]:
archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [25]:
print("Data type for timestamp:  " + str(type(archive.timestamp[0])))

Data type for timestamp:  <class 'str'>

In [26]:
print("Duplicated:  {}".format(sum(archive.duplicated())))

Duplicated:  0

In [27]:
archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

In [28]:
archive.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

In [29]:
archive.name.value_counts().head(50)

None        745
a           55
Charlie     12
Cooper      11
Lucy        11
Oliver      11
Lola        10
Tucker      10
Penny       10
Bo          9
Winston     9
Sadie       8
the         8
Buddy       7
Toby        7
Bailey      7
an          7
Daisy       7
Scout       6
Leo         6
Dave        6
Jack        6
Milo        6
Stanley     6
Jax         6
Oscar       6
Koda        6
Rusty       6
Bella       6
Gus         5
Alfie       5
very        5
Oakley      5
Phil        5
Louis       5
Sunny       5
Bentley     5
Larry       5
Chester     5
Sammy       5
Finn        5
George      5
Clarence    4
Riley       4
Scooter     4
Hank        4
Beau        4
Gerald      4
Sophie      4
Reginald    4
Name: name, dtype: int64

In [30]:
# List not capitalized names
err_names_mask = archive.name.str.contains('^[a-z]', regex = True)
archive[err_names_mask].name.value_counts().sort_index()

a               55
actually        2
all             1
an              7
by              1
getting         2
his             1
incredibly      1
infuriating     1
just            4
life            1
light           1
mad             2
my              1
not             2
officially      1
old             1
one             4
quite           4
space           1
such            1
the             8
this            1
unacceptable    1
very            5
Name: name, dtype: int64

In [31]:
len(archive[err_names_mask])

109

In [32]:
# Tweets without urls
sum(archive.expanded_urls.isna())

59

In [33]:
# Check if the Tweets without urls are retweets/replies 
sum(archive.expanded_urls.isna() & \
    (archive.in_reply_to_status_id.notnull() | \
     archive.retweeted_status_id.notnull()))

56

In [34]:
# Display the tweets without urls, that are not retweets or replies
mask = archive.expanded_urls.isna() & \
       archive.in_reply_to_status_id.isna() & \
       archive.retweeted_status_id.isna()
archive[mask][['tweet_id', 'text', 'expanded_urls']]

,tweet_id,text,expanded_urls
375,828361771580813312,Beebop and Doobert should start a band 12/10 would listen,NaN
707,785515384317313025,"Today, 10/10, should be National Dog Rates Day",NaN
1445,696518437233913856,Oh my god 10/10 for every little hot dog pupper,NaN

In [35]:
# Check if any of these tweets are in the predictions table
tweet_set = [828361771580813312, 785515384317313025, 696518437233913856]
find_tweet_id = predictions.tweet_id.isin(tweet_set)
sum(find_tweet_id)

0

In [36]:
# Check if any of these tweets in the json_data table
tweet_set = [828361771580813312, 785515384317313025, 696518437233913856]
find_tweet_id = json_data.tweet_id.isin(tweet_set)
json_data[find_tweet_id]

Empty DataFrame
Columns: [tweet_id, retweet_count, favorite_count]
Index: []

In [37]:
archive[['rating_numerator', 'rating_denominator']].describe()

       rating_numerator  rating_denominator
count  2356.000000       2356.000000
mean   13.126486         10.455433
std    45.876648         6.745237
min    0.000000          0.000000
25%    10.000000         10.000000
50%    11.000000         10.000000
75%    12.000000         10.000000
max    1776.000000       170.000000

In [38]:
archive.rating_denominator.value_counts().sort_index(ascending = False)

170    1
150    1
130    1
120    1
110    1
90     1
80     2
70     1
50     3
40     1
20     2
16     1
15     1
11     3
10     2333
7      1
2      1
0      1
Name: rating_denominator, dtype: int64

In [39]:
sum(archive.rating_denominator != 10)

23

In [40]:
# Display tweets with denominators different than 10 and which are neither 
# retweets or replies
mask_find = (archive.rating_denominator != 10) & \
            archive.in_reply_to_status_id.isna() & \
            archive.retweeted_status_id.isna()
mask_cols = ['text', 'tweet_id', 'rating_numerator', 'rating_denominator']
archive[mask_find][mask_cols]

,text,tweet_id,rating_numerator,rating_denominator
433,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,820690176645140481,84,70
516,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,810984652412424192,24,7
902,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,758467244762497024,165,150
1068,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",740373189193256964,9,11
1120,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,731156023742988288,204,170
1165,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,722974582966214656,4,20
1202,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,716439118184652801,50,50
1228,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,713900603437621249,99,90
1254,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,710658690886586372,80,80
1274,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",709198395643068416,45,50
1351,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,704054845121142784,60,50
1433,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,697463031882764288,44,40
1635,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,684222868335505415,121,110
1662,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,682962037429899265,7,11
1779,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,677716515794329600,144,120
1843,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,675853064436391936,88,80
2335,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,666287406224695296,1,2

In [41]:
sum(mask_find)

17

In [42]:
archive.rating_numerator.value_counts().sort_index(ascending = False)

1776    1
960     1
666     1
420     2
204     1
182     1
165     1
144     1
143     1
121     1
99      1
88      1
84      1
80      1
75      2
60      1
50      1
45      1
44      1
27      1
26      1
24      1
20      1
17      1
15      2
14      54
13      351
12      558
11      464
10      461
9       158
8       102
7       55
6       32
5       37
4       17
3       19
2       9
1       9
0       2
Name: rating_numerator, dtype: int64

In [43]:
sum(archive.rating_numerator >= 15)

28

In [44]:
df_tweets_denom_10 = archive[archive.rating_denominator == 10]
df_tweets_denom_10.rating_numerator.value_counts().sort_index(ascending = False)

1776    1
666     1
420     2
182     1
75      2
27      1
26      1
17      1
15      2
14      54
13      351
12      558
11      463
10      461
9       156
8       102
7       54
6       32
5       37
4       15
3       19
2       9
1       8
0       2
Name: rating_numerator, dtype: int64

In [45]:
sum(df_tweets_denom_10.rating_numerator >= 15)

12

In [46]:
# Display tweets with numerator >= 15, denominator different than 10 and
# are neither retweets nor replies
mask_find = (archive.rating_denominator == 10) & \
            (archive.rating_numerator >= 15) & \
            archive.in_reply_to_status_id.isna() & \
            archive.retweeted_status_id.isna()
mask_cols = ['text', 'tweet_id', 'rating_numerator', 'rating_denominator']
archive[mask_find][mask_cols]

,text,tweet_id,rating_numerator,rating_denominator
695,"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",786709082849828864,75,10
763,This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq,778027034220126208,27,10
979,This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh,749981277374128128,1776,10
1712,Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD,680494726643068929,26,10
2074,After so many requests... here you go.\n\nGood dogg. 420/10 https://t.co/yfAAo1gdeY,670842764863651840,420,10

In [47]:
# Display tweets with numerator = 0, denominator different than 10 and
# are neither retweets nor replies
mask_find = (archive.rating_denominator == 10) & \
            (archive.rating_numerator == 0) & \
            archive.in_reply_to_status_id.isna() & \
            archive.retweeted_status_id.isna()
mask_cols = ['text', 'tweet_id', 'rating_numerator', 'rating_denominator']
archive[mask_find][mask_cols]

,text,tweet_id,rating_numerator,rating_denominator
315,When you're so blinded by your systematic plagiarism that you forget what day it is. 0/10 https://t.co/YbEJPkg4Ag,835152434251116546,0,10

In [48]:
archive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                        91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                     33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>    11
Name: source, dtype: int64

In [49]:
archive.doggo.value_counts()

None     2259
doggo    97
Name: doggo, dtype: int64

In [50]:
archive.floofer.value_counts()

None       2346
floofer    10
Name: floofer, dtype: int64

In [51]:
archive.pupper.value_counts()

None      2099
pupper    257
Name: pupper, dtype: int64

In [52]:
archive.puppo.value_counts()

None     2326
puppo    30
Name: puppo, dtype: int64

In [53]:
archive[archive.floofer == 'floofer'].text

46      Meet Grizzwald. He may be the floofiest floofer I ever did see. Lost eyes saving a schoolbus from a volcano erpuption. 13/10 heroic as h*ck https://t.co/rf661IFEYP
200     At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk
582     This is Doc. He takes time out of every day to worship our plant overlords. 12/10 quite the floofer https://t.co/azMneS6Ly5
774     Atlas rolled around in some chalk and now he's a magical rainbow floofer. 13/10 please never take a bath https://t.co/nzqTNw0744
984     This is Blu. He's a wild bush Floofer. I wish anything made me as happy as bushes make Blu. 12/10 would frolic with https://t.co/HHUAnBb6QB
1022    Here's a golden floofer helping with the groceries. Bed got in way. Still 11/10 helpful af (vid by @categoen) https://t.co/6ZRoZUWFmd
1091    Just wanted to share this super rare Rainbow Floofer in case you guys haven't seen it yet. 13/10 colorful af https://t.co/CaG9MzD3WT
1110    This is Moose. He's a Polynesian Floofer. Dapper af. 10/10 would pet diligently https://t.co/mVfqRdppTL
1534    Here we are witnessing a rare High Stepping Alaskan Floofer. 12/10 dangerously petable (vid by @TheMrsNux) https://t.co/K4s9IJh2jm
1614    Say hello to Petrick. He's an Altostratus Floofer. Just had a run in with a trash bag. Groovy checkered floor. 11/10 https://t.co/rwW7z1JAOF
Name: text, dtype: object

In [54]:
predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [55]:
predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [56]:
predictions.p1_dog.value_counts()

True     1532
False    543
Name: p1_dog, dtype: int64

In [57]:
predictions.p2_dog.value_counts()

True     1553
False    522
Name: p2_dog, dtype: int64

In [58]:
predictions.p3_dog.value_counts()

True     1499
False    576
Name: p3_dog, dtype: int64

In [59]:
# Check the entries that don't predict dogs
predictions[~predictions.p1_dog & \
               ~predictions.p2_dog & \
               ~predictions.p3_dog][['tweet_id', 'p1', 'p1_dog',
                                        'p2', 'p2_dog', 'p3', 'p3_dog']].head(10)

,tweet_id,p1,p1_dog,p2,p2_dog,p3,p3_dog
6,666051853826850816,box_turtle,False,mud_turtle,False,terrapin,False
17,666104133288665088,hen,False,cock,False,partridge,False
18,666268910803644416,desktop_computer,False,desk,False,bookcase,False
21,666293911632134144,three-toed_sloth,False,otter,False,great_grey_owl,False
25,666362758909284353,guinea_pig,False,skunk,False,hamster,False
29,666411507551481857,coho,False,barracouta,False,gar,False
45,666786068205871104,snail,False,slug,False,acorn,False
50,666837028449972224,triceratops,False,armadillo,False,common_iguana,False
51,666983947667116034,swab,False,chain_saw,False,wig,False
53,667012601033924608,hyena,False,African_hunting_dog,False,coyote,False

In [60]:
sum(~predictions.p1_dog & \
    ~predictions.p2_dog & \
    ~predictions.p3_dog)

324

In [61]:
json_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 3 columns):
tweet_id          57 non-null int64
retweet_count     57 non-null int64
favorite_count    57 non-null int64
dtypes: int64(3)
memory usage: 1.4 KB

In [62]:
json_data.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193  7835           36747
1  892177421306343426  5800           31643
2  891815181378084864  3842           23836
3  891689557279858688  8003           40082
4  891327558926688256  8641           38282

In [63]:
json_data.describe()

           tweet_id  retweet_count  favorite_count
count  5.700000e+01  57.000000      57.000000
mean   8.866167e+17  6292.789474    28784.350877
std    3.229333e+15  4450.425633    15380.473823
min    8.812684e+17  4.000000       0.000000
25%    8.841627e+17  3465.000000    20822.000000
50%    8.863661e+17  4957.000000    26504.000000
75%    8.895311e+17  7835.000000    34196.000000
max    8.924206e+17  18878.000000   73492.000000

### Clean the Data

In [64]:
# Create duplicates
archive_clean = archive.copy()
predictions_clean = predictions.copy()
json_data_clean = json_data.copy()

In [65]:
len_archive = archive_clean.shape[0]; len_archive

2356

### Quality #1

>**Define:** Clean up the data from variables exclusive to retweets and replies (i.e. drop irrelevant columns). Drop all retweet rows with non-null values in retweeted_status_id, retweeted_status_user_id and retweeted_status_timestamp

**Code**

In [66]:
print("# of retweets:  {}".format(sum(archive_clean.retweeted_status_id.notnull())))

# of retweets:  181

In [67]:
archive_clean = archive_clean[archive_clean.retweeted_status_id.isna()]

**Test**

In [68]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2175 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null object
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2175 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 305.9+ KB

In [69]:
# Compare the cleaned table length with the original to confirm the number 
# of rows dropped 
print("# of rows dropped:  {}".format(len_archive - archive_clean.shape[0]))

# of rows dropped:  181

In [70]:
# Reset the variable for length 
len_archive = archive_clean.shape[0]

### Quality #2
>**Define:** Drop all reply rows with non-null values in in_reply_to_status_id and in_reply_to_user_id.

**Code**

In [71]:
print("# of replies:  {}".format(sum(archive_clean.in_reply_to_status_id.notnull())))

# of replies:  78

In [72]:
archive_clean = archive_clean[archive_clean.in_reply_to_status_id.isna()]

**Test**

In [73]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2097 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2097 non-null object
source                        2097 non-null object
text                          2097 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2094 non-null object
rating_numerator              2097 non-null int64
rating_denominator            2097 non-null int64
name                          2097 non-null object
doggo                         2097 non-null object
floofer                       2097 non-null object
pupper                        2097 non-null object
puppo                         2097 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 294.9+ KB

In [74]:
# Do the same confirmation as for retweets above
print("# of rows dropped:  {}".format(len_archive - archive_clean.shape[0]))

# of rows dropped:  78

In [75]:
# Reset the variable for length 
len_archive = archive_clean.shape[0]

### Tidiness #1

>**Define:** Drop all columns exclusively related to retweets

**Code**

In [76]:
archive_clean = archive_clean.drop(['retweeted_status_id',
                                    'retweeted_status_user_id',
                                    'retweeted_status_timestamp'], axis = 1)

**Test**

In [77]:
# Confirm that the columns were dropped
list(archive_clean)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

### Tidiness #2

>**Define:** Drop all columns exclusively related to replies

**Code**

In [78]:
archive_clean = archive_clean.drop(['in_reply_to_status_id',
                                    'in_reply_to_user_id'], axis = 1)

**Test**

In [79]:
# Confirm that the columns were dropped
list(archive_clean)

['tweet_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

### Quality #3

>**Define:** Convert timestamp to datetime data type

**Code**

In [80]:
archive_clean['timestamp'] = pd.to_datetime(archive_clean.timestamp)
archive_clean['timestamp'] = archive_clean.timestamp.dt.floor('s')

**Test**

In [81]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2097 non-null int64
timestamp             2097 non-null datetime64[ns, UTC]
source                2097 non-null object
text                  2097 non-null object
expanded_urls         2094 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 213.0+ KB

### Quality  #4

>**Define:** Replace the source string with the display portion of itself. Extract the string between `<a href="">` and `</a>`

**Code**

In [82]:
archive_clean.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1964
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                        91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                     31
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>    11
Name: source, dtype: int64

In [83]:
archive_clean['source'] = archive_clean['source'].str.extract('^<a.+>(.+)</a>$')

**Test**

In [84]:
archive_clean.source.value_counts()

Twitter for iPhone     1964
Vine - Make a Scene    91
Twitter Web Client     31
TweetDeck              11
Name: source, dtype: int64

### Quality #5

>**Define:** Drop tweets where rating_denominator is not 10

**Code**

In [85]:
archive_clean = archive_clean[archive_clean.rating_denominator == 10]

**Test**

In [86]:
archive_clean.rating_denominator.value_counts().sort_index(ascending = False)

10    2080
Name: rating_denominator, dtype: int64

### Quality #6
>**Define:** Drop tweets where rating_numerator >= 15

**Code**

In [87]:
mask = archive_clean.rating_numerator >= 15
archive_clean[mask].rating_numerator.value_counts().sort_index(ascending = False)

1776    1
420     1
75      1
27      1
26      1
Name: rating_numerator, dtype: int64

In [88]:
archive_clean = archive_clean[archive_clean.rating_numerator < 15]

**Test**

In [89]:
archive_clean.rating_numerator.value_counts().sort_index(ascending = False)

14    38
13    287
12    486
11    413
10    436
9     152
8     98
7     51
6     32
5     34
4     15
3     19
2     9
1     4
0     1
Name: rating_numerator, dtype: int64

### Quality #7
>**Define:** Drop tweets without `expanded_urls`
##### Code

In [90]:
archive_clean = archive_clean[archive_clean.expanded_urls.notnull()]

**Test**

In [91]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id              2072 non-null int64
timestamp             2072 non-null datetime64[ns, UTC]
source                2072 non-null object
text                  2072 non-null object
expanded_urls         2072 non-null object
rating_numerator      2072 non-null int64
rating_denominator    2072 non-null int64
name                  2072 non-null object
doggo                 2072 non-null object
floofer               2072 non-null object
pupper                2072 non-null object
puppo                 2072 non-null object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 210.4+ KB

### Tidiness #3
>**Define:** Create a categorical variable (/column) _stage_ to capture (and replace) the variables (/columns) _doggo, flooffer, pupper, puppo_
##### Code

In [92]:
# replace the stage name with 1, and 'None' with 0, like a dummy variable
make_dummy = lambda x: 0 if x == 'None' else 1

archive_clean.doggo = archive_clean.doggo.apply(make_dummy)
archive_clean.floofer = archive_clean.floofer.apply(make_dummy)
archive_clean.pupper = archive_clean.pupper.apply(make_dummy)
archive_clean.puppo = archive_clean.puppo.apply(make_dummy)

# by adding the stage columns, we can see how many are 'none' and how many stages are set
archive_clean['none'] = archive_clean['doggo'] + archive_clean['floofer'] + \
                        archive_clean['pupper'] + archive_clean['puppo']

# have a look at what we have before we continue...
archive_clean['none'].value_counts()

0    1738
1    323
2    11
Name: none, dtype: int64

In [93]:
# if there are NO stages specified then set 'None' to 1
stage_none = lambda x: 1 if x == 0 else 0

# reset values in 'none' 
archive_clean['none'] = archive_clean['none'].apply(stage_none)

# Order the stages in increasing count order: floofer, puppo, doggo and pupper
# set the choice order for dog stage based on count order
stage = ['floofer', 'puppo', 'doggo', 'pupper', 'none']

# set the conditions for selecting the dog stage based on count order
conditions = [
    (archive_clean[stage[0]] == 1),
    (archive_clean[stage[1]] == 1),
    (archive_clean[stage[2]] == 1),
    (archive_clean[stage[3]] == 1),
    (archive_clean[stage[4]] == 1)]

# select the dog stage based on the first successful condition; stage[4] is 'None'
archive_clean['stage'] = np.select(conditions, stage, default = stage[4])

# now we can drop the original 4 dog stage columns, AND the temporary 'None'
archive_clean.drop(stage, axis = 1, inplace = True)

# set the 'stage' column data type to category
archive_clean['stage'] = archive_clean.stage.astype('category')

**Test**

In [94]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072 entries, 0 to 2355
Data columns (total 9 columns):
tweet_id              2072 non-null int64
timestamp             2072 non-null datetime64[ns, UTC]
source                2072 non-null object
text                  2072 non-null object
expanded_urls         2072 non-null object
rating_numerator      2072 non-null int64
rating_denominator    2072 non-null int64
name                  2072 non-null object
stage                 2072 non-null category
dtypes: category(1), datetime64[ns, UTC](1), int64(3), object(4)
memory usage: 147.9+ KB

In [95]:
archive_clean.stage.value_counts()

none       1738
pupper     219
doggo      81
puppo      24
floofer    10
Name: stage, dtype: int64

### Tidiness #4
>**Define:** Join the retweet_count and favorite_count columns from JSON table to the archive table on tweet_id
##### Code

In [96]:
archive_clean = pd.merge(archive_clean, json_data_clean, 
                         on = 'tweet_id', how = 'left')

**Test**

In [97]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072 entries, 0 to 2071
Data columns (total 11 columns):
tweet_id              2072 non-null int64
timestamp             2072 non-null datetime64[ns, UTC]
source                2072 non-null object
text                  2072 non-null object
expanded_urls         2072 non-null object
rating_numerator      2072 non-null int64
rating_denominator    2072 non-null int64
name                  2072 non-null object
stage                 2072 non-null category
retweet_count         53 non-null float64
favorite_count        53 non-null float64
dtypes: category(1), datetime64[ns, UTC](1), float64(2), int64(3), object(4)
memory usage: 180.3+ KB

### Quality #8
>**Define:** Drop tweets with missing json_data. Change data type for retweet_count and favorite_count to `int`.
##### Code

In [98]:
mask_cols = ['tweet_id', 'retweet_count', 'favorite_count']
archive_clean[archive_clean.retweet_count.isna() | archive_clean.favorite_count.isna()][mask_cols]

                tweet_id  retweet_count  favorite_count
53    880935762899988482 NaN            NaN
54    880872448815771648 NaN            NaN
55    880465832366813184 NaN            NaN
56    880221127280381952 NaN            NaN
57    880095782870896641 NaN            NaN
58    879862464715927552 NaN            NaN
59    879492040517615616 NaN            NaN
60    879415818425184262 NaN            NaN
61    879376492567855104 NaN            NaN
62    879050749262655488 NaN            NaN
63    879008229531029506 NaN            NaN
64    878776093423087618 NaN            NaN
65    878604707211726852 NaN            NaN
66    878281511006478336 NaN            NaN
67    878057613040115712 NaN            NaN
68    877736472329191424 NaN            NaN
69    877556246731214848 NaN            NaN
70    877316821321428993 NaN            NaN
71    877201837425926144 NaN            NaN
72    876838120628539392 NaN            NaN
73    876537666061221889 NaN            NaN
74    876484053909872640 NaN            NaN
75    876120275196170240 NaN            NaN
76    875747767867523072 NaN            NaN
77    875144289856114688 NaN            NaN
78    875097192612077568 NaN            NaN
79    875021211251597312 NaN            NaN
80    874680097055178752 NaN            NaN
81    874296783580663808 NaN            NaN
82    874057562936811520 NaN            NaN
...                  ...  ..             ..
2042  666418789513326592 NaN            NaN
2043  666411507551481857 NaN            NaN
2044  666407126856765440 NaN            NaN
2045  666396247373291520 NaN            NaN
2046  666373753744588802 NaN            NaN
2047  666362758909284353 NaN            NaN
2048  666353288456101888 NaN            NaN
2049  666345417576210432 NaN            NaN
2050  666337882303524864 NaN            NaN
2051  666293911632134144 NaN            NaN
2052  666273097616637952 NaN            NaN
2053  666268910803644416 NaN            NaN
2054  666104133288665088 NaN            NaN
2055  666102155909144576 NaN            NaN
2056  666099513787052032 NaN            NaN
2057  666094000022159362 NaN            NaN
2058  666082916733198337 NaN            NaN
2059  666073100786774016 NaN            NaN
2060  666071193221509120 NaN            NaN
2061  666063827256086533 NaN            NaN
2062  666058600524156928 NaN            NaN
2063  666057090499244032 NaN            NaN
2064  666055525042405380 NaN            NaN
2065  666051853826850816 NaN            NaN
2066  666050758794694657 NaN            NaN
2067  666049248165822465 NaN            NaN
2068  666044226329800704 NaN            NaN
2069  666033412701032449 NaN            NaN
2070  666029285002620928 NaN            NaN
2071  666020888022790149 NaN            NaN

[2019 rows x 3 columns]

In [99]:
archive_clean = archive_clean[~(archive_clean.retweet_count.isna() | archive_clean.favorite_count.isna())]

# Change data type to int for retweet_count and favorite_count columns
archive_clean.retweet_count = archive_clean.retweet_count.astype(int)
archive_clean.favorite_count = archive_clean.favorite_count.astype(int)

_**Test**_

In [100]:
archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 11 columns):
tweet_id              53 non-null int64
timestamp             53 non-null datetime64[ns, UTC]
source                53 non-null object
text                  53 non-null object
expanded_urls         53 non-null object
rating_numerator      53 non-null int64
rating_denominator    53 non-null int64
name                  53 non-null object
stage                 53 non-null category
retweet_count         53 non-null int64
favorite_count        53 non-null int64
dtypes: category(1), datetime64[ns, UTC](1), int64(5), object(4)
memory usage: 4.8+ KB

### Quality #9
>**Define:** Replace lowercase words in the name column with "none"
##### Code

In [101]:
names_mask = archive_clean.name.str.contains('^[a-z]', regex = True)
archive_clean[names_mask].name.value_counts().sort_index()

a       1
such    1
Name: name, dtype: int64

In [102]:
archive_clean.loc[names_mask, 'name'] = "none"

**Test**

In [103]:
archive_clean[names_mask].name.value_counts().sort_index()

none    2
Name: name, dtype: int64

### Tidiness #5
>**Define:** Keep only tweets with images. Create columns "breed" and "confidence" in the predictions table (for quality), then inner-join it to the archive table
##### Code

In [104]:
conditions = [(predictions_clean['p1_dog'] == True),
              (predictions_clean['p2_dog'] == True),
              (predictions_clean['p3_dog'] == True)]

choices_breed = [predictions_clean['p1'], 
                 predictions_clean['p2'],
                 predictions_clean['p3']]

choices_confidence = [predictions_clean['p1_conf'], 
                      predictions_clean['p2_conf'], 
                      predictions_clean['p3_conf']]

predictions_clean['breed'] = np.select(conditions, choices_breed, 
                                       default = 'none')

predictions_clean['confidence'] = np.select(conditions, choices_confidence, 
                                            default = 0)

In [105]:
predictions_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,breed,confidence
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True,Welsh_springer_spaniel,0.465074
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,redbone,0.506826
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True,German_shepherd,0.596461
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,Rhodesian_ridgeback,0.408143
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,miniature_pinscher,0.560311

In [106]:
mask_cols = ['tweet_id', 'breed', 'confidence']
archive_clean = pd.merge(archive_clean, predictions_clean[mask_cols],
                         on = 'tweet_id', how = 'inner')

archive_clean.confidence = (archive_clean.confidence * 100).astype(int)

predictions_clean.drop(['breed', 'confidence'], axis = 1, inplace = True)

In [107]:
archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,stage,retweet_count,favorite_count,breed,confidence
0,892420643555336193,2017-08-01 16:23:56+00:00,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,none,7835,36747,none,0
1,892177421306343426,2017-08-01 00:17:27+00:00,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,none,5800,31643,Chihuahua,32
2,891815181378084864,2017-07-31 00:18:03+00:00,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,none,3842,23836,Chihuahua,71
3,891689557279858688,2017-07-30 15:58:51+00:00,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,none,8003,40082,Labrador_retriever,16
4,891327558926688256,2017-07-29 16:00:24+00:00,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,none,8641,38282,basset,55

In [108]:
list(predictions_clean)

['tweet_id',
 'jpg_url',
 'img_num',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog']

### Tidiness #6
>**Define:** Drop the rating_denominator column. Rename the rating_numerator column to "Rating"
##### Code

In [109]:
archive_clean.rating_denominator.value_counts()

10    51
Name: rating_denominator, dtype: int64

In [110]:
archive_clean.drop(['rating_denominator'], axis = 1, inplace = True)
archive_clean.rename(index = str, columns = {'rating_numerator': 'rating'}, inplace = True)

**Test**

In [111]:
list(archive_clean)

['tweet_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating',
 'name',
 'stage',
 'retweet_count',
 'favorite_count',
 'breed',
 'confidence']

### Tidiness #7
>**Define:** Drop the expanded_urls column. Reorder columns bringing numerical columns to the left
##### Code

In [112]:
col_list = list(archive_clean.columns)
print(col_list)

['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls', 'rating', 'name', 'stage', 'retweet_count', 'favorite_count', 'breed', 'confidence']

In [113]:
col_list = ['tweet_id', 'timestamp', 'rating', 'retweet_count', 'favorite_count',
            'breed', 'stage', 'confidence', 'name', 'source', 'text']
archive_clean = archive_clean[col_list]

**Test**

In [115]:
archive_clean.head(2)

,tweet_id,timestamp,rating,retweet_count,favorite_count,breed,stage,confidence,name,source,text
0,892420643555336193,2017-08-01 16:23:56+00:00,13,7835,36747,none,none,0,Phineas,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU
1,892177421306343426,2017-08-01 00:17:27+00:00,13,5800,31643,Chihuahua,none,32,Tilly,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV"

## Store the data
> The `archive_clean` dataframe will be stored into a `twitter_archive_master.csv` file. The `predictions_clean` and `json_data_clean` will not be saved as the necessary data from them were already incorporated into `archive_clean` dataframe.

In [116]:
archive_clean.to_csv('~/Desktop/twitter_archive_master.csv', index = False)

In [117]:
archive_clean.to_csv('twitter_archive_master.csv', index = False)

In [118]:
ls *.csv

tweet_data_extra.csv          twitter_archive_master.csv
twitter-archive-enhanced.csv*

## Analyze the data

In [ ]:
# Default parameters for visuals and make a copy of the archive dataframe for analysis
plt.rcParams['figure.figsize'] = (8, 5)
we_rate_dogs = archive_clean.copy()
we_rate_dogs.info()

In [ ]:
# Obtain the data timeframe  
we_rate_dogs.timestamp.min(), we_rate_dogs.timestamp.max()

In [ ]:
# basic statistical information
we_rate_dogs[['rating', 'retweet_count', 'favorite_count', 'confidence']].describe()

In [ ]:
we

In [ ]:
# Plot the distribution density for ratings  
we_rate_dogs['rating'].plot(kind = 'hist', bins = 15)
plt.xlim(0, 15)
plt.ylabel('Number of Tweets', fontsize = 14)
plt.xlabel('Rating', fontsize = 14)
plt.title('Distribution of Ratings', fontsize = 16)
plt.show();

In [ ]:
# Obtain a percentage of tweets with ratings => 10
rating_10up_total = sum(we_rate_dogs.rating >= 10)
rating_10up_perc = round(rating_10up_total * 100 / we_rate_dogs.shape[0])
print("Number of tweets with rating 10+:  {}".format(rating_10up_total))
print("Percentage of tweets:                {}%".format(round(rating_10up_perc, 3)))

In [ ]:
# Number of tweets with more retweets than favorites
sum(we_rate_dogs.favorite_count <= we_rate_dogs.retweet_count)

In [ ]:
# The most favorited tweets
we_rate_dogs.sort_values(by = 'favorite_count', ascending = False).head()

In [ ]:
# The most retweeted tweets
we_rate_dogs.sort_values(by = 'retweet_count', ascending = False).head()

In [ ]:
# The most popular breeds (mentioned in tweets)
str = "Number of tweets with 'none' predicted breed:  {} ({}%)"
none_count = sum(we_rate_dogs.breed == 'none')
none_perc = none_count * 100 / we_rate_dogs.shape[0]
print(str.format(none_count, round(none_perc)))
str = "Number of distinct breeds:  {}"
print(str.format(len(we_rate_dogs.breed.unique())))

In [ ]:
top10_breeds_count = \
we_rate_dogs[we_rate_dogs.breed != 'none'].breed.value_counts().head(10)
print("Breed and number of tweets")
print("--------------------------")
print(top10_breeds_count)
top10_per = round(sum(top10_breeds_count) * 100 / we_rate_dogs.shape[0])
print("\nTop 10 dog breeds make up {}% of all tweets".format(top10_per))

In [ ]:
plt.barh(top10_breeds_count.index, top10_breeds_count)
plt.xlabel('Number of Tweets', fontsize = 14)
# plt.ylabel('Dog Breed', fontsize = 14)
plt.title('Top 10 Dog Breeds by Tweet Count', fontsize = 16)
plt.gca().invert_yaxis()
plt.show();

In [ ]:
# Bivariate analysis
sns.pairplot(we_rate_dogs, 
             vars = ['rating', 'retweet_count', 'favorite_count', 'confidence'], 
             diag_kind = 'kde', plot_kws = {'alpha': 0.2});

In [ ]:
# Dog breeds that were favorited the most
fav_counts_breed = we_rate_dogs[we_rate_dogs.breed != 'none']
fav_counts_breed = fav_counts_breed.groupby(['breed'])
fav_counts_breed = fav_counts_breed['favorite_count'].sum()
fav_counts_breed = fav_counts_breed.sort_values(ascending = False)
top10_breeds_fav_counts = fav_counts_breed.head(10)
top10_breeds_fav_counts

In [ ]:
plt.barh(top10_breeds_fav_counts.index, top10_breeds_fav_counts, color = 'g')
plt.xlabel('Aggregate Favorite Count', fontsize = 14)
# plt.ylabel('Dog Breed', fontsize = 12)
plt.title('Top 10 Dog Breeds by Aggregate Favorite Count', fontsize = 16)
plt.gca().invert_yaxis()
plt.show();

In [ ]:
list(set(top10_breeds_count.index) & set(top10_breeds_fav_counts.index))

In [ ]:
# Distribution of ratings
plt.figure(figsize = (14, 9))
bplot = sns.boxplot(y = 'breed', x = 'rating',
                    data = we_rate_dogs,
                    orient = 'h',
                    width = 0.5,
                    palette = "colorblind",
                    order = top10_breeds_fav_counts.index.tolist())
plt.xlim(0, 16)
plt.suptitle('Ratings for Top 10 Dog Breeds (by Aggregate Favorite Count)', fontsize = 18)
plt.title('Distribution within Breeds', fontsize = 16)
plt.ylabel("Breed",  fontsize = 14)
plt.xlabel('Rating',  fontsize = 14)
plt.show()